*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #0a5f59;
  --accent-color-400: #0f8d84;
  --bg-color: #fdcf6f;
  --dash-color: #fffcf1;
  --text-color: #050e27;
  --border-radius: 10px;
  --border-color: #e1dfd4;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui;
  place-items: center;
}

.swiper-container {
  isolation: isolate;
  position: relative;
  display: grid;
  max-width: px;
  height: 650px;
  overflow: hidden;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 80%;
  width: 436px;
  height: 580px;
  will-change: transform;
  transform: translateX(var(--xVal));
  z-index: var(--z-index);
  transition: transform 350ms ease;
  overflow: hidden;


  
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(hsl(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%, 1));
  mix-blend-mode: multiply;
  z-index: -1;
}

.swiper-buttons {
  position: absolute;
  bottom: 10px;
  z-index: 1000;
}

.swiper-button-left, 
.swiper-button-right {
  padding: 0.6rem 1rem;
  border-radius: 100vh;
  letter-spacing: 1px;
  cursor: pointer;
}

.wrapper{
    display: flex;
    padding: 40px;
}

h1{
    margin-right: 40px;
}

.container-swiper{
  width: 686px;
}